/* Start  Varibles */
:root{
    --main--color:rgb(95, 7, 95); 
    --main--color-alt:silver;
    
}
/* Start Globa Rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;

}
/* Start Globa Rules */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


body{
    font-family:Bodoni MT Black;
  
    

}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container {
    padding-left:15px;
    padding-right:15px;
    margin-left:auto;
    margin-right:auto;
}
@media (min-width:768px) {
    .container{
     width:750px;
    }
}
@media (min-width:992px) {
    .container{
     width:970px;
    }
}
@media (min-width:1200px) {
    .container{
     width:1170px;
    }
}



/* Start header */

.header{
   width: 100%;
    position: fixed;
    -webkit-box-shadow: 0 0 10px  #ddd;
    -moz-box-shadow: 0 0 10px  #ddd;
    box-shadow: 0 0 10px  #ddd;
    border-radius: 30px;
    background-color:var(--main--color-alt);
    z-index: 1;
}
@media (max-width:767px) {
    .header{
    border-radius: 0;}
}
.header .container{
  display: flex;  
  justify-content:space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
.header h2{
 position: relative;
color: var(--main--color);
font-size: 26px;
font-weight: bold;
height: 72px;
display: flex;
justify-content: center;
align-items: center;
}
@media (max-width:767px) {
    .header .logo{
        width: 100%;
        height: 50px;
    }
    
}
.header .main-nav {
display: flex;
}
@media (max-width:767px) {
    .header .main-nav{
       margin: auto;
    }
}

/* main-head */
.main-heading {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: var(--main--color);
    font-size: 26px;
    text-shadow: 0 0 10px var(--main--color);
    
    
}

/* End head */
.header .main-nav >li > a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    position: relative;
    color: black;
    padding: 0 30px;
    overflow: hidden;
    transition: 1s;
    
}
.header .main-nav >li > a:hover{
    color:var(--main--color);
    transform:scale(1.2,1.2);
}
.header i{
    color:var(--main--color);
    font-size: 35px;
    position: absolute;
    left:0;

}

    @media (max-width:767px) {
       .header .main-nav >li > a{
          padding: 10px;
          font-size: 14px;
          height: 40px;
       }}

/* End Haeder */
/* Start home */
.Home{
    padding-bottom: 200px;
   height:(100vh- 200px);
}
@media (max-width:767px) {
    .Home{
        padding-bottom: 100px;
    }
}
.Home  i{
    display: block;
    color: var(--main--color);
    font-size: 300px;
   position: absolute;
   left:800px;
   top:150px;
 
   
}
@media (max-width:767px) {
    .Home  i{
display: none;
}}

@media (max-width:991px) {
    .Home  i{
        display: none;}
}
.Paragraph{
position: relative;
top: 100px;
font-size: 20px;

}
.Paragraph .main{
    margin:0;
    font-size:25px;
   padding-left: 30px;
   color: var(--main--color);
   text-shadow: 0 0 10px var(--main--color);
    
}
.Paragraph p{
   margin-left:100px;
    font-size: 19px;
    
}
@media (max-width:767px) {
    .Paragraph .main{
        font-size: 26px;
        height: 100%;
        width: 100%;
        padding-left: 100px;
    }

    }
   

@media (max-width:767px) {
    .Paragraph p{
    padding-top: 30px;
    font-size: 16px;
     

    }
   
}

.Paragraph p{
    padding-top: 50px;
    font-size: 20px;
   
    text-align: left;

}
.main-p{
    color:var(--main--color);
    padding-top: 50px;
    padding-left: 0;
}
/*  start Serives */

.services{
    margin-top: 100px;
    padding-top:60px;
    padding-bottom: 60px;
    background-color: #f6f6f6;
}
.services .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    grid-gap:50px;
}
.services .seriv{
    padding: 50px;
    text-align: center;
    border-radius: 40px;
    border-color:var(--main--color);
   background-color: var(--main--color);
    transition: 1s;
    color:white;
   
}
.services .seriv:hover{
    transform:scale(1.1,1.1);
}
.services  .seriv  i{
    color:var(--main--color-alt);
    font-size: 40px;
}

.services   .seriv h3{
font-weight: 800;
margin: 30px 0;
color:var(--main--color);
}
.services  .seriv p{
line-height: 1.8;
font-size: 17px;
}
/*  start About us */
.About{
    margin-top: 100px;
    padding-top:60px;
    padding-bottom: 70px;
    background-color: #f6f6f6;
}
.About .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    grid-gap:50px;
}
.About h2{
padding-top: 50px;
padding-bottom: 50px;
text-align: center;
color: var(--main--color);
font-size: 25px;

}
.About .box{
background-color: var(--main--color);
height: 400px;
border-radius: 20px;
}
.About .box h3{
padding-top: 50px;
text-align: center;
padding-bottom: 30px;
color:white;
}
.About .box p{
padding-bottom: 30px;
padding-top: 30px;
text-align: center;
color:white;
font-size: 20px;
}
/* End About us */

/* Start conect us */


@media (max-width:991px) {
    .contact .form{
        flex-basis: 100%;
    }
}

.contact .form .input{
display: block;
width: 100%;
margin-bottom: 25px;
padding: 15px;
border: none;
border: 1px solid var(--main--color);
background-color: #f9f9f9;
caret-color: var(--main--color);
}
.contactt .form  textarea.input{
resize: none;
height: 200px;
}
.contact .form .input:focus{
outline: none;
}
.contact .form [type="submit"]{
display: block;
width: 100%;
padding: 15px;
background-color: var(--main--color);
color:white;
font-weight: bold;
font-size: 20px;
border: none;
cursor: pointer;
transition: 3s;
}

.contact .form [type="submit"]:hover{
    background-color: var(--main--color-alt);
    color:var(--main--color);
}
 .content{
    text-align: center;
    padding-top:70px;
    padding-bottom: 50px;
}

/* Start footer*/
.footer{
    text-align: center;
    background-color: var(--main--color-alt);
    border-radius: 30px;
  width: 100%;
    
}
@media (max-width:767px) {
    .footer{
        width: 420px;
    }
}
.icons{
    padding-top: 50px;
    background-color: var(--main--color-alt);
    display: flex;
    justify-content: center;
    align-items: center;
   
}
@media (max-width:767px) {
    .icons i{
        padding-left: 5px;
        font-size: 20px;
    }
}
.icons i{
    padding-left: 27px;
    font-size: 35px;
}
.footer p{
    padding-top: 50px;
}
span{
    color:var(--main--color);
}

/* End conect */